---
# file: roles/compute/tasks/main.yml

# Debian has a kernel upgrade from 3.14 to 3.16
# So we need to restart the compute nodes and migrate the instances before.
- name: migrate instances
  script: migrate.sh {{ ansible_fqdn }} {{ os_username }} {{ os_tenant_name }} {{ os_password }} {{ os_auth_url }}
  tags: before_config
  when: ansible_distribution == 'Debian'

- name: edeploy upgrade
  edeploy: command=upgrade version={{ distro }}-{{ version }}
  tags: before_config

# libvirtd is updated on RHEL7
- name: restart libvirtd after upgrade
  service: name=libvirtd state=restarted
  tags: before_config
  when: ansible_distribution == 'RedHat'

- name: restart nova-compute after upgrade
  service: name=openstack-nova-compute state=restarted
  tags: before_config
  when: ansible_distribution == 'RedHat'

- name: allow instance scheduling on the compute node
  command: nova-manage service enable --service nova-compute --host {{ ansible_fqdn }}
  tags: before_config
  when: ansible_distribution == 'Debian'

# sensu has been upgrade in Debian
# from 0.14.0-1 to 0.16.0-1
- name: restart sensu
  service: name=sensu-client state=restarted
  tags: before_config
  when: ansible_distribution == 'Debian'
