
module dnsmasq-sps 1.0;

require {
	type neutron_t;
	type dnsmasq_t;
	class process { siginh noatsecure rlimitinh };
}

#============= neutron_t ==============
allow neutron_t dnsmasq_t:process { siginh rlimitinh noatsecure };
