
module iptables-sps 1.0;

require {
	type neutron_t;
	type iptables_t;
	type nova_api_t;
	class process { siginh noatsecure rlimitinh };
}

#============= neutron_t ==============
allow neutron_t iptables_t:process { siginh rlimitinh noatsecure };

#============= nova_api_t ==============
allow nova_api_t iptables_t:process { siginh rlimitinh noatsecure };
