
module ldconfig-sps 1.0;

require {
	type init_t;
	type init_tmp_t;
	type ldconfig_t;
	type init_var_lib_t;
	class tcp_socket { read write };
	class unix_dgram_socket { read write };
	class file write;
}

#============= ldconfig_t ==============
allow ldconfig_t init_t:tcp_socket { read write };
allow ldconfig_t init_t:unix_dgram_socket { read write };
allow ldconfig_t init_tmp_t:file write;
allow ldconfig_t init_var_lib_t:file write;
