
module ovs-vsctl 1.0;

require {
	type neutron_t;
	type openvswitch_t;
	class process { siginh noatsecure rlimitinh };
}

#============= neutron_t ==============
allow neutron_t openvswitch_t:process { siginh rlimitinh noatsecure };
