
module systemctl 1.0;

require {
	type cgroup_t;
	type haproxy_t;
	type init_t;
	type systemd_systemctl_exec_t;
	type tmpfs_t;
	type syslogd_var_run_t;
	type keepalived_t;
	class unix_stream_socket connectto;
	class lnk_file read;
	class dir { read search open };
	class file { getattr read open execute execute_no_trans };
	class filesystem getattr;
}

#============= keepalived_t ==============
allow keepalived_t cgroup_t:dir { read search open };
allow keepalived_t cgroup_t:file { read getattr open };
allow keepalived_t haproxy_t:dir search;
allow keepalived_t haproxy_t:file { read getattr open };
allow keepalived_t init_t:file { read getattr open };
allow keepalived_t init_t:lnk_file read;
allow keepalived_t init_t:unix_stream_socket connectto;
allow keepalived_t syslogd_var_run_t:dir read;
allow keepalived_t syslogd_var_run_t:file { read getattr open };
allow keepalived_t systemd_systemctl_exec_t:file { read execute open getattr execute_no_trans };
allow keepalived_t tmpfs_t:filesystem getattr;
